
{% extends "site/base_page.html" %}

{% block head %}
    {{ super() }}
    <!--Split out these scripts-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/spinner.js')}}"></script>
    <style>
        .card-body2 {
            width: 10%; 
            /* margin: auto; Center the card horizontally */
        }
    </style>
    
{% endblock %}
{% block card1 %}
        <div class="card-header">1). Download our Excel ACFR template</div>
        <div class="card-body text-center">
            <a href="{{ url_for('static', filename='input_files/acfrs/example_template.xlsx') }}" download="ACFR_template.xlsx">
                <button type="button" class="btn btn-michigan btn-lg">Download Excel template</button>
            </a>
        </div>
{% endblock %}
{% block card2 %}

    <div class="card-header">2). Upload your completed ACFR in Excel and convert to XBRL</div>
    <div class="card-body2">
        <form action="/upload" method="POST" enctype="multipart/form-data" id="uploadForm">
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="file" id="upload" onchange="updateButton(this.value)">
                <span>Choose File</span>
            </label>
            <br>
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="coverfile" id="coverfile" onchange="updateDocsButton(this.files,coverfile)">
                <span>- Cover File</span>
            </label>
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="auditorfile" id="auditorfile" onchange="updateDocsButton(this.files,auditorfile)">
                <span>- Auditor's File</span>
            </label>
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="notesfile" id="notesfile" onchange="updateDocsButton(this.files,notesfile)">
                <span>- Notes File</span>
            </label>
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="infofile" id="infofile" onchange="updateDocsButton(this.files,infofile)">
                <span>- Info File</span>
            </label>
            <br>
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="statisticalfile" id="statisticalfile" onchange="updateDocsButton(this.files,statisticalfile)">
                <span>- Statistical File</span>
            </label>
            <br>
            <input type="submit" id="convert-button" class="btn btn-michigan btn-lg" value="" onclick="startProcessing()">
        </form>
    </div>
    
    
    
{% endblock %}
{% block loader %}
<div class="text-center">
    <div id="loader" class="loader" style="display: none;" class="text-center"></div>
</div>
{% endblock %}

