{% extends "site/base_page.html" %}
{% block head %}
    {{ super() }}
    <!--Split out these scripts-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/spinner.js')}}"></script>
{% endblock %}
{% block card1 %}
        <div class="card-header">1). Download our Excel ACFR template</div>
        <div class="card-body text-center">
            <a href="{{ url_for('static', filename='input_files/acfrs/example_template.xlsx') }}" download="ACFR_template.xlsx">
                <button type="button" class="btn btn-michigan btn-lg">Download Excel template</button>
            </a>
        </div>
{% endblock %}
{% block card2 %}
    <div class="card-header">2). Upload your completed ACFR in Excel and convert to XBRL</div>
    <div class="card-body">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label class="btn btn-michigan btn-lg">
                <input type="file" name="file" id="upload" onchange="updateButton(this.value)">
                <span>Choose File</span>
            </label>
            <div class="file-container">
                <span id="selectedFileName"></span>
            </div>
            <input type="submit" id="convert-button" class="btn btn-michigan btn-lg" value="" onclick="startProcessing()">
        </form>
    </div>
{% endblock %}
{% block loader %}
<div class="text-center">
    <div id="loader" class="loader" style="display: none;" class="text-center"></div>
</div>
{% endblock %}
