<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>End-User License Agreement</title>
  <style>
    body {
      font-family: "Times New Roman", serif;
      font-size: 12pt;
      line-height: 1.5;
      word-wrap: break-word;
    }

    h1,
    h2,
    h3 {
      text-align: center;
    }

    ol {
      margin-left: 1.5em;
    }

    b {
      font-weight: bold;
    }

    a {
      color: blue;
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <h1>End-User License Agreement – Evaluation Use</h1>
  <h2>University of Michigan Innovation Partnerships File# 2025-204 (“Open Source Inline XBRL Instance Generator”)</h2>

  <p>IMPORTANT – READ CAREFULLY: This Agreement is a legal agreement between “LICENSEE” (defined below) and The Regents of The University of Michigan, a constitutional corporation of the state of Michigan, on behalf of Innovation Partnerships (“MICHIGAN”).</p>

  <h3>BACKGROUND</h3>
  <ol>
    <li>One or more employees of the University of Michigan’s Ford School of Public Policy have developed an online tool implementing the Open Source Inline XBRL Instance Generator that can be accessed via <a href="https://closup.umich.edu/acfr-tool">https://closup.umich.edu/acfr-tool</a> for use by trained individuals in financial reporting and related investigational fields (hereinafter referred to as "PROGRAM"); and</li>
    <li>LICENSEE desires to obtain, and MICHIGAN, consistent with its mission of education and research, desires to grant, a license to use the PROGRAM subject to the terms and conditions set forth below; and</li>
    <li>The term “LICENSEE” shall mean the person(s) using the PROGRAM subject to the terms and conditions of this Agreement; and</li>
  </ol>

  <p>The parties therefore agree as follows:</p>

  <h3>I. LICENSE</h3>
  <ol type="A">
    <li>MICHIGAN hereby grants to LICENSEE a non-exclusive, non-transferable and non-sublicensable right to use the PROGRAM solely for internal evaluation purposes and subject to the terms and conditions of this Agreement. <b>LICENSEE acknowledges and agrees that the PROGRAM is available for demonstration and educational purposes only and is expressly prohibited from using PROGRAM for production of official financial reports or regulatory filings.</b> All proprietary interest, right, title, and copyright in the PROGRAM which are not explicitly granted to you herein remain with MICHIGAN.</li>
  </ol>

  <h3>II. LIMITATION OF LICENSE AND RESTRICTIONS</h3>
  <ol type="A">
    <li>LICENSEE shall not use, print, distribute, copy, translate, reverse engineer, decompile, disassemble, modify, create derivative works of or publicly display the PROGRAM, in whole or in part, unless expressly authorized by this Agreement.</li>
    <li>LICENSEE agrees that it shall use the PROGRAM only for LICENSEE'S sole and exclusive use, and shall not disclose, sell, license, or otherwise distribute the PROGRAM, in whole or in part, to any third party without the prior written consent of MICHIGAN. LICENSEE shall not assign this Agreement, and any attempt by LICENSEE to assign it shall be void from the beginning. LICENSEE agrees to secure and protect the PROGRAM, and any copies of the PROGRAM, in a manner consistent with the maintenance of MICHIGAN'S rights in the PROGRAM and to take appropriate action by instruction or agreement with its employees who are permitted access to the PROGRAM to satisfy LICENSEE'S obligations under this Agreement.</li>
    <li>LICENSEE may copy the PROGRAM for the purpose of using the PROGRAM on other devices and for archival purposes.</li>
    <li>Such license shall be only for its intended use and in accordance with applicable Food and Drug Administration (FDA) regulations for pre-clinical and clinical research, including, but not limited to, applicable investigational device exemption (IDE) regulations, institutional review board (IRB) approval, required protocols and monitoring of the study, required records and reports, and applicable protection of human subjects regulations.</li>
    <li>LICENSEE agrees to acknowledge MICHIGAN in scientific publications resulting (in whole or in part) from the use of the PROGRAM, by making reference to the publication of the PROGRAM when it becomes available in the scientific literature. Copyright notice should be as follows, “Inline XBRL Instance Generator Online Tool © 2024 The Regents of the University of Michigan.”</li>
  </ol>

  <h3>III. CONSIDERATION</h3>
  <p>This is a no cost evaluation license.</p>

  <h3>IV. TITLE AND OWNERSHIP</h3>
  <ol type="A">
    <li>No ownership rights of MICHIGAN in the PROGRAM are conferred upon LICENSEE by this Agreement.</li>
    <li>LICENSEE acknowledges MICHIGAN'S proprietary rights in the PROGRAM and agrees to reproduce all copyright notices supplied by MICHIGAN on all copies of the PROGRAM, and on all PROGRAM outputs and copies of PROGRAM outputs. Copyright notice shall be as follows, “Inline XBRL Instance Generator Online Tool © 2024 The Regents of the University of Michigan.”</li>
  </ol>

  <h3>V. DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY</h3>
  <ol type="A">
    <li>THE<b> PROGRAM</b> IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. <b>MICHIGAN</b> DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE <b>PROGRAM</b> WILL MEET <b>LICENSEE'S </b>REQUIREMENTS OR THAT OPERATION WILL BE UNINTERRUPTED OR ERROR FREE. MICHIGAN shall not be liable for special, indirect, incidental, or consequential damages with respect to any claim on account of or arising from this Agreement or use of the PROGRAM, even if MICHIGAN has been or is hereafter advised of the possibility of such damages.</li>
    <li>LICENSEE agrees that MICHIGAN has no obligation to provide to LICENSEE any maintenance, support, or update services. Should MICHIGAN provide any revised versions of the PROGRAM to LICENSEE, LICENSEE agrees that this Agreement shall apply to such revised versions.</li>
  </ol>

  <h3>VI. INDEMNITY AND INSURANCE</h3>
  <ol type="A">
    <li>LICENSEE shall defend, indemnify and hold harmless MICHIGAN for and against any and all claims, demands, damages, losses, and expenses of any nature (including attorneys' fees and other litigation expenses), resulting from, but not limited to, death, personal injury, illness, property damage, economic loss or products liability, including errors and omissions, arising from or in connection with the use by any person of PROGRAM distributed by LICENSEE and the use or practice by LICENSEE of the PROGRAM.</li>
    <li>Prior to any use of any PROGRAM by LICENSEE, LICENSEE shall purchase and maintain in effect (commercial) general liability insurance, product liability insurance, or errors and omissions insurance which shall protect LICENSEE and MICHIGAN with respect to the events covered by the above paragraph A.</li>
  </ol>

  <h3>VII. WARRANTY OF LICENSEE</h3>
  <p>LICENSEE warrants and represents that it will carefully review any documentation or instructional material provided by MICHIGAN.</p>

  <h3>VIII. TERMINATION</h3>
  <ol type="A">
    <li>If LICENSEE at any time fails to abide by the terms of this Agreement, MICHIGAN shall have the right to immediately terminate the license granted herein, require the return or destruction of all copies of the PROGRAM by LICENSEE and certification in writing as to such return or destruction, and pursue any other legal or equitable remedies available.</li>
  </ol>

  <h3>IX. MISCELLANEOUS</h3>
  <ol type="A">
    <li>This Agreement shall be construed in accordance with the laws of the state of Michigan. Should LICENSEE for any reason bring a claim, demand, or other action against MICHIGAN, its agents or employees, arising out of this Agreement or the PROGRAM licensed herein, LICENSEE agrees to bring said claim only in the Michigan Court of Claims.</li>
    <li>THIS AGREEMENT REPRESENTS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN MICHIGAN AND LICENSEE AND SUPERSEDES ALL PRIOR AGREEMENTS, PROPOSALS, REPRESENTATIONS AND OTHER COMMUNICATIONS, VERBAL OR WRITTEN, BETWEEN THEM WITH RESPECT TO USE OF THE PROGRAM. THIS AGREEMENT MAY BE MODIFIED ONLY WITH THE MUTUAL WRITTEN APPROVAL OF AUTHORIZED REPRESENTATIVES OF THE PARTIES.</li>
    <li>The terms and conditions of this Agreement shall prevail notwithstanding any different, conflicting, or additional terms or conditions which may appear in any purchase order or other document submitted by LICENSEE. LICENSEE agrees that such additional or inconsistent terms are deemed rejected by MICHIGAN.</li>
    <li>Unless otherwise exempt therefrom, LICENSEE agrees that it will be responsible for any sales, use or excise taxes imposed by any governmental unit in this transaction except income taxes.</li>
    <li>LICENSEE acknowledges that the PROGRAM is of United States origin. LICENSEE agrees to comply with all applicable international and national laws that apply to the PROGRAM, including the United States Export Administration Regulations, as well as end-user, end-use, and destination restrictions issued by the United States.</li>
    <li>MICHIGAN and LICENSEE agree that any electronically signed copy of this fully executed agreement shall have the same legal force and effect as any copy bearing original signatures of the parties.</li>
  </ol>
</body>
</html>