By using this tool, you acknowledge that you have read and agreed to the 
<a href="{{ url_for('routes_bp.license') }}" target="_blank" class="terms-link"> terms of use</a>. 
This is a research tool that is available for demonstration and educational purposes only and may 
contain errors. You are expressly prohibited from using the tool for production of official financial 
reports or regulatory filings. Data uploaded as part of using the tool will not be stored on a server 
and will be deleted at the end of the session. iXBRL output and downloadable html files will also not 
be stored on a server, and will be deleted once the browser window has been closed.