{% extends "site/base_landing.html" %}

{% block content %}
<h1 class="gradient-text">Tutorial</h1>
<div class="card">
    <div class="card-body">
        <h2>How to Use the XBRL Conversion Tool</h2>
        <ol>
            <li>Download our Excel ACFR template</li>
            <li>Fill in your financial data in the template</li>
            <li>Upload the completed Excel file</li>
            <li>Add any supporting Word documents (optional)</li>
            <li>Click "Convert" to generate your Inline XBRL file</li>
            <li>Download or view your converted file</li>
        </ol>
        <p>For a more detailed walkthrough, check out our video tutorial below:</p>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}