{% extends "site/base_page.html" %}
{% block head %}
    {{ super() }}
    <!--Split out these scripts-->
    <script src="{{url_for('static', filename='js/spinner.js')}}"></script>
    <script> 
        var sessionID = "{{ session_id }}";
        console.log('in HTML', sessionID);
    </script>
{% endblock %}

{% block card1 %}
    <div class="card-header card-header-lg">Download your machine-readable financial statement</div>
    <div class="card-body text-center">
        <a href="{{ url_for('download_file', filename=output_filename) }}" download>
            <button type="button" class="btn btn-michigan btn-lg">Download file</button>
        </a>
    </div>
{% endblock %}

{% block card2 %}
    <div class="card">
        <div class="card-header">View your machine-readable financial statement in browser</div>
        <div class="card-body text-center">
            <a href="/viewer" target="_blank">
                <button type="button" class="btn btn-michigan btn-lg">Click to view in browser</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block return_button %}
    <a href="/">
        <button type="button" class="btn btn-michigan btn-lg return-button">Convert Another ACFR</button>
    </a>
{% endblock %}