# Ignore macOS .DS_Store files
.DS_Store

# Ignore Python __pycache__ directories
__pycache__/

# Ignore Visual Studio Code settings
.vscode/

# Ignore venv files
xbrl_venv/
.venv
venv/

# ignore unsaved Microsoft docs
~$*

# ignore files that change each time we run the app
app/static/output/output.html
app/templates/site/viewer.html


# Ignore image files
*.png

# Ignore sessions data
sessions_data/*