# Ignore macOS .DS_Store files
.DS_Store

# Ignore Python __pycache__ directories
__pycache__/

# Ignore Visual Studio Code settings
.vscode/

# Ignore venv files
xbrl_venv/
.venv

# ignore unsaved Microsoft docs
~$*