<?xml version="1.0" ?>
<html xmlns:xbrldi="http://xbrl.org/2006/xbrldi" xmlns:ixt="http://www.xbrl.org/inlineXBRL/transformation/2022-02-16" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:iso4217="http://www.xbrl.org/2003/iso4217" xmlns:ix="http://www.xbrl.org/2013/inlineXBRL" xmlns:acfr="http://taxonomies.xbrl.us/grip/2022/acfr" xmlns:link="http://www.xbrl.org/2003/linkbase" xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xbrli="http://www.xbrl.org/2003/instance" xml:lang="en-US">    
    <head>
        <title>Audited Financial Report: Inline XBRL</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% include 'xbrl/xbrl_style.html' %}
    </head>

    <body class ="{{ format }}">
        <div style="display:none">
            <ix:header>
                <ix:references>
                    <link:schemaRef xlink:href="http://taxonomies.xbrl.us/grip/2022/grip-all_2022.xsd" xlink:type="simple"></link:schemaRef>
                </ix:references>
            <ix:resources>
                <!--Start of contexts-->
                {% include 'xbrl/contexts.html' %}
                
                {% include 'xbrl/word_contexts.html' %}
                
                <xbrli:unit id="USD">
                    <xbrli:measure>iso4217:USD</xbrli:measure>
                </xbrli:unit>
            </ix:resources>
          </ix:header> 
        </div>
        {% for sheet in acfr.sheets %}
        <h1 class="center"> COVER PAGE </h1> 
        {{ cover_page | safe }}

        <h1 class="center"> AUDITOR'S REPORT </h1> 
        {{ auditors_letter | safe }}

        <h1 class="center"> EXCEL PORTION </h1>
        <!-- Header for the sheet from the Excel doc -->
        {% for line in sheet.header() %}
            <p><b>{{ line }}</b><br></br></p>
        {% endfor %}
           
        <!-- Sheet cell data -->
        {% include 'xbrl/table.html' %}
        {% endfor %}
        
        <h1 class="center"> NOTES </h1> 
        {{ notes | safe }}

        <h1 class="center"> SUPPLEMENTARY INFORMATION </h1> 
        {{ supplementary_info | safe }}

        <h1 class="center"> STATISTICAL SECTION </h1> 
        {{ statistical_section | safe }}

    </body>

</html>