
<xbrli:context id="I20220630_P_Misc_TierI">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Miscellaneous Tier I</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>

<xbrli:context id="I20220630_P_Misc_TierII">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Miscellaneous Tier II</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>

<xbrli:context id="I20220630_P_Misc_PEPRA">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Miscellaneous PEPRA</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>

<xbrli:context id="I20220630_P_Safety_TierI">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Safety Tier I</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>

<xbrli:context id="I20220630_P_Safety_TierII">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Safety Tier II</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>

<xbrli:context id="I20220630_P_Saftey_PEPRA">
    <xbrli:entity>
        <xbrli:identifier scheme="https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt">0613882</xbrli:identifier>
        <xbrli:segment>
            <xbrldi:typedMember dimension="acfr:PensionPlanNameAxis">
                <acfr:PensionPlanNameDomain>Safety PEPRA</acfr:PensionPlanNameDomain>
            </xbrldi:typedMember>
        </xbrli:segment>
    </xbrli:entity>
    <xbrli:period>
        <xbrli:startDate>2021-07-01</xbrli:startDate>
        <xbrli:endDate>2022-06-30</xbrli:endDate>
    </xbrli:period>
</xbrli:context>
