body {
    background-color: #365885;
    color: #00274c;
}

.card {
    /* Blue */
    color: #003e78;
    /* Maize */
    background-color: #ffcb09;
    /* text-align: center; */
}

#upload-card {
  margin-bottom: 30px;
}

.card-header {
    /* Maize */
    background-color: #01274b;
    color: #ffffff;
    text-align: center;
}

header {
    /* Blue */
    background-color: #00274c;
    color: #ffcb05;
    padding: 20px;
}

.container {
    /* Space after the header and before the cards */
    margin-top: 30px;
    text-align: center;
}

.btn-michigan {
    /* Maize */
    color: #00274c;
    background-color: #ffffff;
    border: 2px solid #00274c;
    /* width:72%;  */
    text-align: center;
}

.btn-michigan:hover {
    /* Slightly darker Maize for the hover effect */
    background-color: #003e78;
    color: #fcfcfd
}

.file-container {
    /* Separated filename styling */
    margin-top: 15px;
}

#upload {
    display: none;
}

#convert-button {
    display:none;
}

.loader {
    position: fixed;
    z-index: 1000;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .draggable {
    user-select: none;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #f8f9fa;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }

  .sortable-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  .sortable-list .filename {
    flex-grow: 1; /* Allow filename to take the remaining space */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    margin-right: 10px; /* Add some space between the filename and the delete button */
  }

  .sortable-list .delete-btn {
    background-color: rgb(159, 23, 23);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .return-button {
    /* Add margin to place the button lower */
    margin-top: 20px;
    border: 2px solid #ffcb09;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #00274c;
    text-align: center;
    display: inline-block;
  }

  .return-button:hover {
      /* Slightly darker Maize for the hover effect */
      background-color: #003e78;
      color: #fcfcfd;
      border: 2px solid #ffcb09;
  }