<style type="text/css">

:root {
    --max-row-width: 10000px;
}

/* Style for the table with class 'statement' */
table.statement {
    border-collapse: collapse; /* Merge borders into a single line */
    width: 95%;
    align-self: center;
}

/* Style for the last row within a table with class 'statement' */
table.statement tr:last-child {
    border-bottom: 1px solid black; /* Add bottom border for the last row */
    /* max-width: var(--max-row-width); */
}

/* Style for th elements within a table with class 'statement' */
table.statement th {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
    /* max-width: var(--max-row-width); */
}

/* Style for the last th and td elements within a row within a table with class 'statement' */
table.statement th:last-child, table.statement td:last-child {
    min-width: 110px;
    /* max-width: var(--max-row-width); */
    width: auto;
}

/* Alignment for ALL tables, including word ones */
table td {
    height: 15.0pt;
    text-align: right;
    font-size: 14px;
    margin: 10px;
    min-width: 110px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    /* max-width: var(--max-row-width); */
}
table td:first-child {
    text-align: left;
    min-width: 150px;
}

.section_header, .subsection_header {
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
}

/* Style for row headers */
.section_header {    
    font-weight: bold;
}

.total {
    font-weight: bold;
}

.empty_row {
    background-color: none;
    border-top: 1px solid black; 
}

.data_total {
    border-top: 1px solid black; 
}

/* Optional colors */
.color .section_header {    
    background-color: #85C1E9;
}

.color .subsection_header {
    background-color: #AED6F1
}

.color .row, .total, .data_total {
    background-color: #D6EAF8;
}

/* Optional grayscale */
.gray .section_header {    
    background-color: #AAAAAA;
}

.gray .subsection_header {
    background-color: #CCCCCC
}

.gray .row, .total, .data_total {
    background-color: #EEEEEE;
}

/* Hide elements with the class iso4217-value */
.iso4217-value {
    display: none;
}

h1.center {text-align: center;}

body {
    font-family: 'Times New Roman', serif;
    line-height: 1.15; /* Example line height addition */
}

.word-content {
    max-width: 7in;
    margin: 1in;
    padding: 1in; /* Adding padding to mimic Word's default content padding */
    border: 1px solid #ccc;
    background-color: #fff; /* To resemble a Word document's white page */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow around the "page" */
    text-align: justify;
}

/* Word styles */

h1.title {
    font-weight: bold; /* Makes the text bold */
    font-size: 2em; /* Larger font size for title */
    text-align: center; /* Centers the text */
    margin-top: 2em; /* Spacing above the title */
    margin-bottom: 2em; /* Spacing below the title */
    color: #333333; /* Dark grey color for the text */
}

h2.header {
    font-weight: bold; /* Makes the text bold */
    font-size: 1em; /* Slightly smaller font size for heading */
    text-align: center; /* Aligns the text to the left */
    margin-top: 0.5em; /* Spacing above the heading */
    padding-bottom: 10px; /* Spacing between the text and the line */
    margin-bottom: 20px; /* Spacing below the line */
    position: relative;
    color: #1a1a1a; /* Slightly darker grey color for the text */
}

h3.header2 {
    font-size: 0.5em; /* Smaller font size for heading2 */
    text-align: left; /* Aligns the text to the left */
    margin-top: 0.1em; /* Spacing above the heading2 */
    margin-bottom: 0.1em; /* Spacing below the heading2 */
    color: #000000; /* Black color for the text */
    position: relative;
}

h2.header:after {
    content: ''; /* Essential for a pseudo-element */
    display: block;
    width: 100%; /* Adjust to control the width of the underline */
    height: 1px; /* Underline thickness */
    background: #000; /* Underline color */
    position: absolute;
    left: 0;
    bottom: 0; /* Aligns at the bottom of the element */
}

p {
    margin-top: 0em;
    margin-bottom: 1em;
}

.page-break {
    display: block;
    clear: both;
    width: 8.9in;
    margin-left: -1in;
    margin-right: -1in;
    margin-top: 50px; /* Increase the space before the break */
    margin-bottom: 50px; /* Increase the space after the break */
    border-bottom: 2px dotted #888; /* Dotted line to visually indicate a page break */
    content: " "; /* Needed for the border to take effect */
}

.page-number {
    text-align: center;
}

/* Word images */
img {
    display: block;
    max-width: 7in;
    height: auto;
    /* Center the image */
    margin-left: auto;
    margin-right: auto;
}

</style>

