{% for context in CONTEXTS %}
    
<xbrli:context id="{{context.id}}">
    <xbrli:entity>
        <xbrli:identifier scheme="{{PLACE_SCHEME}}">{{context.place_id}}</xbrli:identifier>
        <xbrli:segment>
            <!-- Column name -->
            <xbrldi:explicitmember dimension={{context.axis}}>{{context.dimension_member}}</xbrldi:explicitmember>
        </xbrli:segment>   
    </xbrli:entity>
    <xbrli:period>
        {% if context.time_type == "I" %}
        <xbrli:instant>{{context.date}}</xbrli:instant>
        {% else %} 
        <xbrli:startDate>{{context.period_start}}</xbrli:startDate>
        <xbrli:endDate>{{context.date}}</xbrli:endDate>
        {% endif %} 
    </xbrli:period>
</xbrli:context>

{% endfor %}