<style>

    div, table {
        margin: 10px;
    }

    /* Style for the table */
    table {
        border-collapse: collapse; /* Merge borders into a single line */
        width: 98%;
    }

    /* Style for the last row (horizontal line at the bottom) */
    tr:last-child {
        border-bottom: 1px solid black; /* Remove the bottom border for the last row */
    }

    /* Style for table headers */
    th {
        border-bottom: 1px solid black; 
        text-align:right
    }

    /* Style for table cells */
    td {
        height: 15.0pt; 
        text-align: right; 
        font-size: 14px;
        margin: 10px;
    }

    /* Style for row names */
    td:first-child {
        text-align: left; 
    }

    /* total column width */
    th:last-child, td:last-child {
        min-width: 120px;
        width: auto; /* Allow the width to adjust based on content */
    }

    .section_header, .subsection_header {
        border-top: 1px solid black; 
        border-bottom: 1px solid black;
    }

    /* Style for row headers */
    .section_header {    
        font-weight: bold;
    }

    .total {
        font-weight: bold;
    }

    .empty_row {
        background-color: none;
        border-top: 1px solid black; 
    }

    .data_total {
        border-top: 1px solid black; 
    }

    /* Optional colors */
    {% if format == "color" %}
    .section_header {    
        background-color: #85C1E9;
    }

    .subsection_header {
        background-color: #AED6F1
    }

    .row, .total, .data_total {
        background-color: #D6EAF8;
    }
    {% endif %}

    /* Optional grayscale */
    {% if format == "gray" %}
    .section_header {    
        background-color: #AAAAAA;
    }

    .subsection_header {
        background-color: #CCCCCC
    }

    .row, .total, .data_total {
        background-color: #EEEEEE;
    }

    {% endif %}
   
    /* Hide elements with the class iso4217-value */
    .iso4217-value {
        display: none;
    }
</style>